.owl-carousel {
    -ms-touch-action: none;
    touch-action: none;
}
body{
    background: #6C559B;
}
.wrapper{
    max-width: 1920px;
    margin: 0 auto;
    background-image: url(../image/BG.png);
    background-repeat:no-repeat;
    overflow: hidden;
}
/* .bg-hero{
    background-image: url(../image/Foto.png);
    background-position: center ;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1050px;
} */
.header{
  padding-top: 50px;
  margin-bottom: 185px;
}
.mob-menu{
    display: none;
}
.header__content{
    align-items: center;
}
.logo{
    font-family: 'Montserrat';
    font-style: italic;
    text-transform: uppercase ;
    font-size: 25px;
    line-height: 55px;
    color: #FFFFFF;
}
.nav-menu__list{
    padding-left: 35px;
    display: flex;
    list-style: none;
    justify-content: space-between;
}
.nav-menu__link{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    text-shadow: 6px 6px 5px rgba(0, 0, 0, 0.2);
}
.nav-menu__link:hover{
    color:#cfcccc;
}
.header__phone-block{
    text-align: right;
}
.phone-block__link{
    display: inline-block;
    letter-spacing: 1px;
    margin-bottom: 6px;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    text-shadow: 6px 6px 5px rgba(0, 0, 0, 0.2);
}
.phone-block__info {
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
    text-shadow: 6px 6px 5px rgba(0, 0, 0, 0.2);
    padding-right: 20px;
}
.hero{
    margin-bottom: 506px;
    position: relative;
}
.hero-img-con{
    position: relative;
}
.hero-image{
    position: absolute;
    top: -163px;
    right: 0px;
    max-width: 888px;
}
.hero-image-cloud{
    position: absolute;
    bottom: -706px;
    right: 0;
    z-index: 3;
}
.title{
    margin-bottom: 70px;
    font-family: 'Sprite';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 64px;
    color: #FFFFFF;
    text-shadow: 6px 6px 5px rgba(0, 0, 0, 0.2);
}
.button{
    background: #FCFF69;
    border-radius: 50px;
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    color: #1C1C1C;
    padding: 16px 50px;
    transition: ease-in-out transform .1s , background .1s;
    cursor: pointer;
    display: inline-block;
}

.button:hover{
    background: #f4f748;
    transform: scaleX(1.1);
}
.button:disabled {
    background-color: #bcbd72;
}
.about-us{
   background-image: url(../image/about.png);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   padding-top: 89px;
   padding-bottom: 200px;
   position: relative;
   z-index: 3;
}
.background{
    background-image: url(../image/BG.png);
        background-repeat: no-repeat;
        background-size: cover;
}
.sub-title{
    font-family: 'Sprite';
    font-weight: 400;
    font-size: 64px;
    line-height: 64px;
    color: #FFFFFF;
    text-shadow: 6px 6px 5px rgba(0, 0, 0, 0.2);
}
.default-text{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}
.about-us__title{
    margin-bottom: 50px;
}
.about-us__text{
    margin-bottom: 50px;
}
.about-us__image{
    max-width: 100%;
    border-radius:50%;
}

.fullscreen-bg {
    overflow: hidden;
    z-index: -100;
    position: relative;
    height: 100%;
    width: 100%;
    padding-top: 45%;
}

.fullscreen-bg__video {
    top: 0;
    left: 0;
    width: 100%;
}

.video{
    display: none;
    height: 700px;
    overflow: hidden;
    margin-bottom: 100px;
}
.gallery{
    margin-bottom: 89px;
}

.gallery__title{
    padding-top: 100px;
    margin-bottom: 50px;
}
.gallary-items{
    margin-bottom: 20px;
}
.gallary-img{
    width: 100%;
    border-radius: 20px;
}

.gallary-btn{
    max-width: 144px;
    margin: 0 auto;
}
.price__title{
    margin-bottom: 50px;
}
.price__service{
    display: flex;
    margin-bottom: 40px;
}
.service-image{
    border-radius: 20px ;
    margin-right: 20px;
}
.service-text__text-head{
    display: flex;
    flex-direction: column;
    min-height: 188px;
    margin-bottom: 30px;
}
.service-title{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    text-shadow: 6px 6px 5px rgba(0, 0, 0, 0.2);
}
.service-subtitle{
    flex: 1 1 auto;
}
.service-btn{
    width: 100%;
}
.use{
    margin-bottom: 100px;
}

.use-card{
    position: relative;
    border-radius:20px;
}
.use-image{
    border-radius: 20px;
    position: relative;
    z-index: 2;
    transition: opacity 0.2s;
}
.use-image:hover, .use-image:active{
    opacity: 0.1;
}
.use__card-text{
    background: rgba(0, 0, 0, 0.8);
    mix-blend-mode: normal;
    backdrop-filter: blur(10px);
    border-radius: 20px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 99%;
    width: 102%;
    padding: 70px;

}
.container-card{
    position: relative;
    max-width: 700px;
    margin: 0 auto;

}
.reviews{
    margin-bottom: 100px;
}
.reviews-list{
    justify-content: space-between;
}
.reviews-item{
    background: #FFFFFF;
    border-radius: 30px;
    padding: 50px 76px 50px 50px; 
    max-width: 460px;
}
.item-color{
    color: #B89797;
}
.item-avatar{
    margin-right: 10px;
}
.reviews-head{
    display: flex;
    align-items:center;
    margin-bottom: 34px;
}
.reviews-text{
    color: #000000;
    text-shadow: 6px 6px 5px rgba(0, 0, 0, 0.2);
}
.reviews__title{
    margin-bottom: 50px;
}
.slide-one {
    display: none !important; 
}
.footer{
    padding-bottom: 60px;
}
.footer-row{
    align-items:center;
}
.social-link{
    display: flex;
    max-width: 180px;
    justify-content: space-between;
    margin: 0 auto;
    
}
.modalwindow{
    max-width: 600px;
    max-height: 700px;
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 50px ;
    position: relative;
}
.close-modal{
    position: absolute;
    top: 14px;
    right: 30px;
    color:#B89797;
    font-family: 'Montserrat';
    cursor: pointer;
}
.modal__title{
    color:#000000;
    margin-bottom: 80px;
}
.modal-form{
    display: flex;
    flex-direction: column;
    
}
.form-lable{
    color:#000000;
    margin-bottom: 20px;
}
.form-input{
    padding: 20px 40px;
    background-color: #6C559B;
    border-radius: 100px;
    width: 100%;
}
.form-input, .form-input::placeholder{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    
}
.input-group{
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.input-group *:not(:last-child){
    margin-bottom: 20px;
}
.form-button{
    max-width: 217px;
    margin: 0 auto;
}


.fixed-overlay {
    position: fixed;
    overflow: auto;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
}

.fixed-overlay__modal {
    text-align: center;
    /* white-space: nowrap; */
    display: none;
}

.fixed-overlay__modal::after {
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 100%;
    content: '';
}

.modal {
    display: block;
    margin: 0 auto;
    margin-top: 40px;
    /* vertical-align: middle; */
}
@media(max-width:1400px){
    .hero{
        margin-bottom: 350px;
    }
    .hero-image{
        right: -108px;
    }
    .about-us{
        padding-bottom: 0;
    }
    .about-us{
        background:none;
    }
    .about-us__image{
        border-radius:20px;
        margin-bottom: 40px;
        display: none;
    }
    .close-lg{
        display: none;
    }
    .footer-nav{
        margin-bottom: 20px;
    }
    .footer-menu__list{
        padding: 0;
    }
    .service-text{
        max-width: 465px;
    }
    .use__card-text {
        width: 100%;
    }
}

@media(max-width:1200px){
    .hero, .about, .gallery, .price, .use, .reviews{
        margin-bottom: 50px;
    }
    .use-card{
        text-align: center;
    }
    .use-image{
        max-width: 100%;
    }
   
}
@media(max-width:992px) {
    .header-nav-coll {
        display: none;
    }

    .header {
        padding-top: 0;
        margin-bottom: 80px;
    }

    /* burger style */
    .humburger-container {
        position: relative;
        z-index: 100;
        width: 30px;
    }

    .con,
    .special-con {
        cursor: pointer;
        display: inline-block;
    }

    .bar {
        display: block;
        height: 4px;
        width: 30px;
        background: #FFFFFF;
        margin: 7px auto;
    }

    .con {
        width: auto;
        margin: 0 auto;
        -webkit-transition: all .7s ease;
        -moz-transition: all .7s ease;
        -ms-transition: all .7s ease;
        -o-transition: all .7s ease;
        transition: all .7s ease;
    }

    .bar2 {
        background-color: #FCFF69;
    }

    .col {
        display: inline-block;
        width: 24%;
        text-align: center;
        height: auto;
        position: relative;
    }

    .middle {
        margin: 0 auto;
    }

    .bar {
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -ms-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease;
    }

    .top {
        -webkit-transform: translateY(7px) rotateZ(45deg);
        -moz-transform: translateY(7px) rotateZ(45deg);
        -ms-transform: translateY(7px) rotateZ(45deg);
        -o-transform: translateY(7px) rotateZ(45deg);
        transform: translateY(7px) rotateZ(45deg);
    }

    .bottom {
        -webkit-transform: translateY(-15px) rotateZ(-45deg);
        -moz-transform: translateY(-15px) rotateZ(-45deg);
        -ms-transform: translateY(-15px) rotateZ(-45deg);
        -o-transform: translateY(-15px) rotateZ(-45deg);
        transform: translateY(-15px) rotateZ(-45deg);
    }

    .middle {
        width: 0;
    }

    /* menu */
    .mob-menu {
        display: block;
        background-color: #FFFFFF;
        width: 100vw;
        height: 70vh;
        padding: 60px 20px;
        position: absolute;
        top: 0;
        left: 0;
        transition: ease-in-out transform .35s;
        z-index: 7;
    }

    .mob-menu-out {
        transform: translateX(-1000px);
    }

    .mob-menu__nav {
        height: 100%;
    }

    .nav__mob-menu__list {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .nav-mob-menu__item {}

    .nav-mob-menu__link {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 800;
        font-size: 26px;
        line-height: 20px;
        color: #000000;
    }
    .hero-image {
        right: -223px;
        top: -65px;
    }

}
@media(max-width:768px){
    .sub-title{
        text-align: center;
    }
    .close-sm{
        display: none;
    }
    .hero-img-con{
        display: none;
    }
    .gallary-items{
        display: none;
    }
    .slide-one{
        display: block !important;
    }
    .price__service{
        flex-direction: column;   
    }
    .modal-form{
        padding: 15px 0;
    }
    .reviews-item{
        max-width: unset;
    }
    .service-text__text-head{
        min-height: 146px;
    }
    .service-text{
        max-width: none;
    }
    .service-title{
        margin: 10px 0 ;
    }
    .use__card-text {
        height: 98%;
    }
    
    .service-text__text-head{
        margin-bottom: 0;
    }
    .service-image{
        margin-right: 0;
    }
    .price__service:not(:last-child){
        margin-bottom: 50px;
    }
    .service-subtitle{
        font-size: 14px;
    }
    .use__card-text{
        padding: 17px;
    }
    .service-title{
        font-size: 17px;
    }
    .text-in-card{
        font-size: 12px;
    }
    .reviews{
        margin-bottom: 50px;
    }
    .footer-menu__list{
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
}
@media(max-width:450px){
    .phone-block__link{
        font-size: 16px;

    }
    .modalwindow{
        max-width: 100vw;
        max-height: 100vh;
        padding: 15px 5px;
    }
    .modal__title{
        font-size: 50px ;
        margin-bottom: 40px;
    }
    .input-group{
        /* align-items: unset; */
        text-align: left;
    }
    .phone-block__info{
        font-size: 12px;
        padding-right: 10px;
    }
    .sub-title{
        text-align: center;
    }

    .hero-image-cloud{
        bottom: -623px;
        right: -129px;
    }
   
}